.menu li{
    display: inline-block;
}

.menu li a{
    display: block;
    padding: 8px;
    margin: 10px 8px ;
   text-decoration: none;
   font-family: 'Montserrat';
   font-weight: 600;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
   border-radius: 20px;
   border: 1.8px solid #BAA4CF; 
   color: #BAA4CF;
   
 }

.menu li a:hover{
    color: #ffffff;
    background: linear-gradient(45deg, #BAA4CF, #DED7E1);
    
}