@import "nav";
@import "variables/variables.scss";
@import "media.scss";



@mixin wi-he($w, $h) {
    width: $w;
    height: $h;

}

// Operaaciones

$h1: 2.5em;
$media:35px; 

body {
    background-color: #ffffff;
    font-family: 'Goudy Bookletter 1911', serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url('');
    background-attachment: fixed;

    
}
.fondo{
    background-color:  $verde-superblanco;
}

h1 {
   
    font-family: 'Goudy Bookletter 1911', serif;
    background-clip: text;
    color: $purple-main;  
    font-size: 4em;
} 

.h1-especial {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 2.6em;
    color: $super-white;
    letter-spacing: 1px;
    font-weight: 100;
    

} 
.h1-interna {
    font-family: 'Goudy Bookletter 1911', serif;
    color: $purple-main;  
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    line-height :1em;
} 

h2 {
    font-size: 2em;
    font-family: 'Goudy Bookletter 1911', serif;
    color: $dark-purple;
    margin: 0 ;
    display: inline-block;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;

}

h3 {
    font-size: 1.4em;
}

h4{
    color: $dark-purple;
    font-size: 1.2em;
    font-family: 'Eb Garamond';
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
}

.h4-purple{
    color: $purple-main;
    font-size: 1.2em;
    font-family: 'Montserrat';
    font-weight: 600;
    
}

h5{
    color: $purple-main;
    font-size: 1.2em;
    font-family: 'Montserrat';
    font-weight: 600;
    
}
.cursiva{
    font-family: 'Eb Garamond', serif;
    font-size: 1.25em;
    text-transform: none;
  }

h2:after {
    content: "";
    display: inline-block;
    @include wi-he(70vw,1px);
    margin-left: 20px;
    background: $dark-purple;
    right: 0;
    top: 50%;
    text-align: right;
  }

.texto-destacado {

    width: 100%;
   
    .comillas{
        position: absolute;
        left: 22%;
        font-family:'eb Garamond', sans-serif;
        font-size: 18em;
    }
      div {

        width: 40vw;
        position: relative;
        left: 40%;
        text-align: right;
        font-family:'Georgia', serif;
     font-size: 1.2em;
         }
}


.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}


.princ-parrafo {
    padding-bottom: 20px;
    margin-bottom: 20px;
}





.tienda
{
    margin: auto;
    align-items: center;
    padding: $media;
    border: solid $purple-light 5px;
    background-color: #ffffff;

    li {
        list-style: square;
        a {
            padding: $media;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 12px;
            color: $purple-main;
            text-transform: uppercase;
            letter-spacing: 1px;
        }    
    }   
}


footer{
    background: linear-gradient(25deg, $purple-main, $purple-light);
    font-size: 0.8em;
    color: white;

    bottom: 0;
    left: 0;
    width: 100%;
}
.div-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    a
    {
        padding: 0 20px 0 0;
    }
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 40px;
	background: $purple-main;
	color: #fff;
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 0px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2; 
    color: #fff;
	transition: .3s ease all;
}
.boton.efecto::after {
	content: "";
	width: 100%;
	height: 300px;
    color: #000000;
    text-decoration: none;
	background: $verde-claro;
	position: absolute;
	z-index: 1;
	top: -300px;
	left: 0;
	transition: .4s ease-in-out all;
	border-radius: 0px 0px 300px 300px;
}

.boton.efecto:hover::after {
 
	top: 0;
    color: #000000;
}

/* .border-button{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: $media/2.5 ;
    border: 1.8px solid $purple-main;
    padding: 8px;
    text-decoration: none;
    width: fit-content;
    color: $purple-main; 
    text-align: left;
    text-transform: uppercase;
    z-index: 5;

    &:hover{
        color: #ffffff;
        background: $gradient;
        border: none;
    } 

} */


.div-main-padre{
    display: flex;
       flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    margin: 20px ;
    padding: 100px 0 0 0;
    
}

.div-main-hijo{
    display: inline-block;
    padding: 15px 15px;
    width: 450px;
    text-align: center;
    vertical-align: middle;
    
}

.div-padre{
    display: flex;
   flex-flow: row wrap; 
    justify-content: space-around; 
    width: 82vw;
} 

.div-hijo{
        width: 21rem; 
        padding: 15px 15px;
        margin: 15px 20px 40px 20px;
        text-align: center;

        a{
            text-decoration: none;
            font-size: 22px;
            color: #BAA4CF;
        }

        figure   { 
            @include wi-he(400px,400px);
            overflow: hidden;
            cursor: pointer;
            position: relative;

            img  { 
                width: 100%;
                overflow: hidden;
                cursor: pointer;
                transition: all 500ms ease-out;
            }

            .capa { 
                position: absolute ;
                top: 0;
                @include wi-he(100%,100%);
              background-color: rgba(31, 20, 41, 0.6);
              opacity: 0;
              text-align: center;
              color: #ffffff;
              transition: all 500ms ease-out;

              h3{ 
                padding: 100px;
             }

            }
        }
        
        figure:hover > .capa  { 
            opacity: 1;
            visibility: visible;
    
        }
}



.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5vw;
    max-width: 80vw;
    margin: auto;

}

/////* Código para Posts *//////
.post{
    box-shadow: 0 1px 20px 2px $verde-superblanco ;
    transition: .2s;
    border-radius: 0px;
    overflow: hidden;
    margin:25px;
    background: $verde-superblanco;
    
    &:hover{
        transform: translateY(-4px) ;
        box-shadow: 0 2px 8px 2px #b4bdb2 ;
        }
    a{
        text-decoration: none;
    }

   
    
 }


     .post-body{
        padding: 20px 20px 40px 20px;
        text-align: center;
        
    }


    .post-img-1{
        background: url(../public/img/proyecto_1.jpg);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-img-2{
        background: url(../public/img/proyecto_2.jpg);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-img-3{
        background: url(../public/img/proyecto_3.jpg);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-img-4{
        background: url(../public/img/proyecto4_miniatura.png);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-img-5{
        background: url(../public/img/proyecto5_miniatura.png);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-img-6{
        background: url(../public/img/proyecto6_miniatura.png);
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .2s;
    }

    .post-header{
        width: 100%;
        height: 200px;
        cursor: pointer;
        overflow: hidden;

    }
    .post:hover .post-img-1,
    .post:hover .post-img-2,
    .post:hover .post-img-3{
        transform: scale(1.1);
        }


    .tienda-imag-small{
        max-width: 600px;
        width: 100%;
    } 



/********************** Código para AboutMe *********************/

.year{
    font-size: 1em;
    font-family: 'Eb Garamond';
    font-weight: 500;
}

.div-main-interno {
    margin-top: 120px;
} 

.about-grid{
 margin: 10vh auto;
 width: 80vw;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 3vw; 
    grid-template-areas: 
    'about-left about-main'
    'about-left about-content'
    'about-left-dos about-content-dos'
}
        
.about-left{
    grid-area: about-left;
    width: 24vw;
    height: fit-content;
    padding: 24px;
    text-align: center;
    font-weight: 500;
    background-color:  #ffffff;
} 

.about-main{
    grid-area: about-main;
    width: 50vw;
    padding: 24px 40px;
    background-color:  #ffffff;
} 
.about-content{
    grid-area: about-content;
    width: 50vw;
    background-color: #ffffff;
    padding: 24px 40px;
    align-items: center;
}
.about-left-dos{
    grid-area: about-left-dos;
    width: 24vw;
    height: fit-content;
    padding: 24px;
    ol{
        list-style: none;
    } 
    background-color: #ffffff;
} 


.about-content-dos{
    grid-area: about-content-dos;
    width: 50vw;
    background-color: #ffffff;
    padding: 24px 40px;
    ol {
        list-style: none;
    } 
}

table td:first-child {
   width: 40vw;
   }


/********************** Código paraContacto *********************/
   .grid-container{
    background-color: #ffffff;
    margin: 140px 50px 50px 50px;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-gap: 5px; 
    grid-template-areas: 
    'datos datos lateral'
    'datos datos lateral'
}
    

.datos {
    grid-area: datos;
    padding: 20px;
}

.lateral{
    grid-area: lateral;
    padding: 50px 0 0 0;
}

/********************** Código para tienda *********************/
.banner-tienda{
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    height: 30vh;
    width: 100%;

    img{
        width: 100%;
        position: relative;
        margin-top: -10;
     
}
}

.h1-centrado{
    position: absolute ;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 20, 41, 0.6);
  padding:8vh;



}
/********************** Código para proyectos *********************/
.banner-proyecto{
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
    height: 50vh;
    img{
        overflow: hidden;
        width: 100%;
        margin-top: -10;
    }
}


.texto-imagen{
    position: absolute ;
  text-align: left;
  top: 180px;
  width: 35vw;
  height: 100%;
  left: 5%;


}

.proyecto-content{
    width: 80vw;
    background-color: #ffffff;
    padding: 30px 40px 40px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}



.product-wap  {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    .product-color-dot.color-dot-black
    { background:#000000;} 
}



.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a {
    color: $purple-main; 
    font-size: 1.2em;
}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}


.bajada{
    font-family:'Goudy Bookletter 1911', serif;
    font-size: 1.5em;
    text-align: center;
    }

.proyecto {
    width: 80vw;
    background-color: #ffffff;
    padding: 30px 40px 40px;
    margin: 30px auto;

    align-items: center;

    li {
        list-style: none;
    } 

    img{

       display:block;
       margin: 0 auto;
    } 

    table{
margin-top: 2em;
     } 

    td:first-child {
        width: 10vw;
     } 
}

.case-study{
width: 80vw;
margin: 10vh auto 50px auto;
}

.case-img{
    width: 100vw;
    max-height: 60vh;
    overflow: hidden;
    }

.menu-activo{
    color: #88a151 !important;
    }

#hero{
    width:100%;
    height: 80vh;
    background: url('../public/img/home_banner.png') no-repeat center /cover;
    }

#hero-proyecto{
    width:100%;
    height: 60vh;
    background: url('../public/img/proyecto_banner.jpg') no-repeat center /cover;
    }
    

    .hero-container{
        width: 25vw;
        height: 100%;
          color: #221d24;;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10%;
      }

      .scroll-container{
        overflow: auto;
        white-space: nowrap;
        padding: 5px 70px 5px 20px;
        background: transparent;
        height: 100%;
        border-radius:15px;
      }

#no-alinear{
    display: initial;
    float:none !important ;
 
  }

.tabla-problema{
    thead {
        background-color: $purple-light;
        font-weight: 600;
        text-transform: uppercase;
        td{
            padding: 10px;
    
        }
    }
    td:first-child {
        width: 50%;
        padding: 0 2em; 
        }      
        td{
            padding: 10px;
        }
    

  }
/********************** Media Query *********************/
@media (max-width: 1050px){
    .content{
    grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 800px){
    .content{
    grid-template-columns: 1fr 1fr;
    }

    .banner-proyecto img{
        height: 100%;
        width: 150%;
        margin-bottom: 30px;
    }

    .hero-container{
          width: 40vw;
      }

      #hero-proyecto{
        height: 50vh;
        background: url('../public/img/proyecto_banner.jpg') no-repeat contain;
        }


        .about-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'about-left'
            'about-main'
            'about-content'
            'about-content-dos'
            'about-left-dos';
            }
       
            .about-left{
                width: 80vw;
                margin: 0 auto;
            } 
            .about-main{
                width: 80vw;
                margin: 0 auto;
            } 
            .about-content{
                width: 80vw;
                margin: 0 auto;
            } 
            .about-left-dos {
                width: 80vw;
                margin: 0 auto;
            } 
            .about-content-dos {
                width: 80vw;
                margin: 0 auto;
            } 
            
            table td:first-child {
                width: 72vw;
                }
             
             
           
    
}


@media (max-width: 620px){
    .content{
    grid-template-columns: 1fr;
    }

    h2{
        text-align: center;
        display: block;
    }

    h2:after {
        display: none !important;
  }

    /* ****************** MEDIA ABOUT */


    /* ****************** MEDIA Proyectos */
    .banner-proyecto{
        margin-top:180px;
        height:40vh ;

        img{
            height: 100%;
            width: 150%;
            background-size: cover;
            background-position: center;
        }
}

.texto-imagen{
    top: 60px;
  
  
  }
  
}
    
::selection {
    background: #363031;
    color: #fff;
}


/* Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $purple-light;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $purple-main;
    width: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $verde-superblanco;
    width: 10px;
  } 