/////* colores */////////////
$purple-main: #384b0f;
$purple-light: #bfc79c;
$dark-purple: #221d24;
$super-white:#FFF;
$verde-claro:#88a151;
$verde-superblanco: #eef4e8;
$gradient: linear-gradient(45deg, #264024, #ACB586);
